<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>Tạo bài viết</title>
</head>
<body>
<h1>Tạo bài viết mới</h1>
<form action="/blogposts/store" method="POST">
<p>
Tiêu đề:
<input type="text" name="title">
</p>
<p>
Nội dung:
<textarea name="body"></textarea>
</p>
<button type="submit">Lưu bài viết</button>
</form>
<a href="/">Về trang chủ</a>
</body>
</html>