<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chi tiết bài viết</title>
</head>
<body>
<h1><%= post.title %></h1>
<p><%= post.body %></p>
<a href="/">Về trang chủ</a>
</body>
</html>