<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Trang chủ</title>
</head>
<body>
<h1>Danh sách bài viết</h1>
<a href="/blogposts/new">Tạo bài viết mới</a>
<ul>
<% posts.forEach(post => { %>
<li>
<strong><%= post.title %></strong><br>
<span><%= post.body %></span><br>
<a href="/blogposts/<%= post._id %>">Xem chi tiết</a>
</li>
<hr>
<% }) %>
</ul>

</body>
</html>